.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 5%;

  justify-content: center;
  align-items: center;
}

.profile_pic {
  /* border-radius: 10px; */
  height: 70vh;
  width: 60vw;
  filter: drop-shadow(5px 5px 5px #222);
}

.icons_wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  color: white;
  font-size: 1rem;
  position: relative;
  bottom: 80px;

  font-weight: bold;
  /* margin: -5.2% auto; */
}
.main_icons_wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  color: white;
  font-size: 1rem;
  position: relative;
  right: 35%;
  bottom: 80px;

  font-weight: bold;
  /* margin: -5.2% auto; */
}

.icon {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.home_img {
  width: 20vw;
  height: 40vh;
  filter: drop-shadow(5px 5px 5px 5px #222);
}

.home_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 10% auto;
}

.intro {
  width: 30%;
  margin-top: 5%;
}

.button_wrapper {
  display: flex;
  /* margin: 5% auto; */
  justify-content: space-evenly;
}

.home_button {
  border: 1px solid black;
  padding: 20px;
}

.contact_card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  box-shadow: 2px 2px 2px 4px lightgray;
  height: 100%;
  width: 49.5vw;
  margin: 0 auto;
  margin-bottom: 2%;
}

.map_wrapper {
  height: 25vh;
  width: 100%;
  margin: 3% auto;
}

.header_pic {
  display: flex;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.contact_me {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  width: 100%;
  margin: 0 auto;
}

.contact_type {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  color: rgb(101, 101, 101);
  width: 30%;
}

.contact_title {
  color: grey;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.connect {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 3% auto;
  font-size: 1.5rem;
  color: rgb(101, 101, 101);
}

.connect_title {
  font-size: 1.5rem;
  color: rgb(101, 101, 101);
}

.connect_container {
  width: 70%;
  margin: 3% auto;
}

.projects_card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 3px 3px 0px grey;
  height: 100%;
  width: 49.5vw;
  margin: 0 auto;
}

.sort_viz {
  box-shadow: 2px 2px 2px 4px lightgray;
  display: flex;
  width: 90%;
  height: 100%;
  margin: 3% auto;
  font-size: 1.5rem;
  flex-direction: column;
}

.project_image {
  width: 40%;
  height: 100%;
  margin: 1%;
}

.header_wrapper {
  display: block;
  /* margin-top: 10%; */
  height: 50vh;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.header_pic {
  width: 100%;
  height: 100%;
}

.header_pic img {
  width: 100%;
  height: 100%;
}
.mobile_main {
  display: none;
}

.conact_wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.hello {
  position: absolute;
  display: flex;
  width: 20%;
  font-size: 2.5rem;
  font-weight: bold;
  color: whitesmoke;
  /* bottom: 300%; */
  left: 60%;
  top: 30%;
}

.learn {
  position: absolute;
  font-size: 2rem;
  width: 100%;
  color: black;
  bottom: 150%;
  left: 250%;
}
.hello_text {
  width: 100%;
  position: absolute;
  font-size: 2rem;
  bottom: 10%;
}

@media screen and (max-width: 500px) {
  .img_wrapper {
    height: 100vh;
    width: 100vw;
  }
  .hello_text {
    /* display: none; */
    width: 100%;
    position: absolute;
    font-size: 1.5rem;
    top: 2%;
  }
  .icons_wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-size: 1rem;
    position: absolute;
    bottom: 60%;
    color: rgb(101, 101, 101);
    font-weight: bold;
    margin: 0 auto;
  }
  .profile_pic {
    border-radius: 0;
    height: 70vh;
    width: 100vw;
    filter: drop-shadow(0px 0px 0px #222);
  }
  .projects_card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 3px 3px 0px grey;
    height: 100%;
    width: 100vw;
    margin: 0 auto;
  }
  .home_img {
    width: 80vw;
    height: 50vh;
    filter: drop-shadow(5px 5px 5px 5px #222);
  }

  .home_wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% auto;
  }

  .intro {
    width: 80%;
    margin-top: 5%;
  }
  .mobile_main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .home_wrapper {
    display: none;
  }

  .header_wrapper {
    width: 100%;
  }
  .header_pic {
    width: 100%;
    height: 80%;
  }
  .contact_wrapper {
    width: 100%;
    height: 100%;
  }
  .contact_card {
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    text-align: center;
  }
  .contact_type {
    height: 100%;
    width: 90vw;
    margin: 1% auto;
    justify-content: space-evenly;
  }
  .contact_me {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .contact_title {
    margin: 5%;
  }
  .header_wrapper {
    height: 50vh;
  }
  .hello {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    z-index: 1;
  }
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
