html,
body,
#root,
.App {
  height: 100%;
}

.img_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.profile_pic {
  /* border-radius: 10px; */
  height: 80vh;
  width: 60vw;
  filter: drop-shadow(5px 5px 5px #222);
}

.icons_wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 19%;
  left: -1%;
  font-weight: bold;
}
.main_icons_wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 22%;
  color: white;
  font-size: 1rem;
  position: absolute;
  left: 20%;
  top: 5%;
  font-weight: bold;
}

.main_link {
  margin: 0;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.loading {
  display: none;
}

.home_img {
  width: 20vw;
  height: 40vh;
  filter: drop-shadow(5px 5px 5px 5px #222);
}

.home_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 10% auto;
}

.intro {
  width: 30%;
  margin-top: 5%;
}

.button_wrapper {
  display: flex;
  /* margin: 5% auto; */
  justify-content: space-evenly;
}

.home_button {
  border: 1px solid black;
  padding: 20px;
}

.contact_card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 4px lightgray;
  height: 100%;
  width: 45%;
  margin: 0 auto 2%;
}

.map_wrapper {
  height: 20vh;
  width: 100%;
  margin: 3% auto;
}

.header_pic {
  display: flex;
  height: 20%;
  width: 50%;
  margin: 0 auto;
}

.contact_me {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  width: 100%;
  margin: 0 auto;
}

.contact_type {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  color: rgb(101, 101, 101);
  width: 30%;
}

.contact_title {
  color: grey;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.connect {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 3% auto;
  font-size: 1.5rem;
  color: rgb(101, 101, 101);
}

.connect_title {
  font-size: 1.2rem;
  color: rgb(101, 101, 101);
  text-align: center;
}

.connect_container {
  width: 100%;
  margin: 3% auto;
}

.projects_card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 3px 3px 0px grey;
  height: 100%;
  width: 45%;
  margin: 0 auto;
}

.sort_viz {
  box-shadow: 2px 2px 2px 4px lightgray;
  display: flex;
  width: 90%;
  height: 100%;
  margin: 3% auto;
  font-size: 1.5rem;
  flex-direction: column;
}

.project_image {
  width: 40%;
  height: 100%;
  margin: 1%;
}

.header_wrapper {
  height: 55%;
  width: 45%;
  margin: -4.3% auto 0;
}

.header_pic {
  width: 100%;
  height: 100%;
}

.header_pic img {
  width: 100%;
  height: 100%;
}
.mobile_main {
  display: none;
}

.conact_wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.hello {
  position: absolute;
  display: flex;
  width: 20%;
  font-size: 2.5rem;
  font-weight: bold;
  color: whitesmoke;
  left: 60%;
  top: 20%;
}

.learn {
  position: absolute;
  font-size: 2rem;
  width: 100%;
  color: black;
  bottom: 150%;
  left: 250%;
}
.hello_text {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 22%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: whitesmoke;
  bottom: 22%;
}

.mobile {
  display: none;
}
.mobile_pic {
  display: none;
}
.directions {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 1.3rem;
  margin: 0 auto;
  cursor: pointer;
}
.cv {
  background: blue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: 19%;
  padding: 0.7%;
  right: 2.5%;
  text-decoration: none;
}
.main_icons_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 4%;
  color: navy;
  text-decoration: none;
}
.mobile_type {
  margin: 3% auto;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}
.mobile_link {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resume {
  display: flex;
  flex-direction: column;
  background: blue;
  padding: 1.2%;
  position: absolute;
  top: 4%;
  right: 6%;
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  width: "40%";
}

.resume_main {
  display: flex;
  flex-direction: column;
  background: blue;
  padding: 0.5%;
  border-radius: 5px;
  position: absolute;
  top: 5%;
  right: 21%;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  width: "40%";
}
.img_animation {
  height: 80%;
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

.main_connect {
  display: flex;
  width: 10%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  position: absolute;
  bottom: 1%;
  font-size: 1;
  height: 3%;
  right: 20%;
}
.skills_wrapper {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid black;
  flex-direction: column;
}
.languages {
  display: flex;
  width: 95%;
  height: auto;
  box-shadow: 2px 2px 2px 3px darkgray;
  margin: 5% auto;
  flex-direction: column;
  justify-content: space-evenly;
}
.skills_img_wrapper {
  width: 80%;
  margin: 3% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.python {
  height: 40%;
  width: 17%;
  position: relative;
  top: 10px;
}
.html_img {
  height: 25%;
  width: 8.5%;
  position: relative;
}
.css {
  height: 20%;
  width: 14%;
  position: relative;
}
.sql {
  height: 30%;
  width: 10%;
  position: relative;
  top: 2px;
}
.js {
  width: 10%;
  height: 30%;
  position: relative;
  top: 5px;
}
.lists_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.lists {
  width: 30%;
}
li {
  margin: 1% 2%;
  font-size: 1.2rem;
}

.pro_portfolio h5 {
  padding: 1%;
  width: 100%;
  margin: 1%;
}
.header_connect {
  position: absolute;
  bottom: 2%;
  padding: 0.2%;
  right: 5%;
  width: 15%;
  background: white;
  display: flex;
  justify-content: space-evenly;
}
.tech_container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 3% auto;
}
.stack_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
.title_text {
  font-size: 1rem;
  text-align: center;
  padding: 1%;
  margin: 1% auto;
  position: relative;
  bottom: 2%;
}
.stack_header {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}
.skills_list {
  font-size: 1rem;
}
.active_style {
  color: rgb(0, 128, 255);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile_type {
  color: white;
}

@media screen and (max-width: 768px) {
  .mobile_pic {
    display: flex;
  }
  .main_pic {
    display: none;
  }
  .img_wrapper {
    display: none;
  }
  .hello_text {
    display: none;
    margin: 0 auto;
  }
  .icons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    font-size: 0.5rem;
    position: absolute;
    top: 85%;
    left: 0.5%;
    color: rgb(101, 101, 101);
    font-weight: bold;
    margin: 0 auto;
  }
  .profile_pic {
    height: 50vh;
    width: 100%;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 0px #222);
  }
  .img_wrapper img {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .projects_card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 3px 3px 0px grey;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .home_img {
    width: 80vw;
    height: 50vh;
    filter: drop-shadow(5px 5px 5px 5px #222);
  }

  .home_wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% auto;
  }

  .intro {
    width: 80%;
    margin-top: 5%;
  }
  .mobile_main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .home_wrapper {
    display: none;
  }

  .header_pic {
    width: 100%;
    height: 100%;
  }
  .contact_wrapper {
    width: 100%;
    margin: 12% 0;
  }
  .contact_card {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
  .contact_type {
    height: 100%;
    width: 90%;
    margin: 1% auto;
    justify-content: space-evenly;
  }
  .contact_me {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .header_wrapper {
    height: 50%;
    width: 100%;
    margin: -8% auto;
  }
  .hello {
    font-size: 1.8rem;
    width: 60%;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 4%;
    top: 50%;
    z-index: 1;
  }
  .main_icons_wrapper {
    /* display: none; */
    margin-left: 200px;
  }
  .projects_container {
    width: 100%;
    margin: 12% 0;
  }
  .projects_card {
    width: 100vw;
  }
  .sort_viz {
    width: 100%;
  }

  .component {
    width: 100%;
  }
  .mobile {
    display: flex;
  }
  .hello {
    display: none;
  }
  .hello_text {
    display: none;
  }
  .mob_container {
    width: 100%;
    height: 100%;
    background-image: url("./images/darkbrick.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_card {
    background: white;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .contact_title {
    font-size: 1.2rem;
    color: darkgray;
  }
  .directions {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .icon {
    font-size: 1rem;
  }
  .mobile_profile {
    height: 80%;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
  }
  .links_container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cv {
    position: absolute;
    top: 23%;
    right: 2%;
    font-size: 1rem;
    font-weight: bold;
    background: blue;
    padding: 1%;
    color: white;
  }
  .mobile_type {
    margin: 0;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .mobile_link {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .resume {
    display: flex;
    flex-direction: column;
    background: blue;
    padding: 1.2%;
    position: absolute;
    top: 4%;
    right: 6%;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    width: "40%";
  }
  .mobile_icon {
    color: rgb(0, 170, 255);
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  .mobile_text {
    color: rgb(0, 170, 255);
    margin: 0 auto;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .resume_main {
    display: none;
  }
  .new_mobile_icon {
    font-size: 1.5rem;
  }
  .img_animation {
    height: 100%;
    width: 100%;
  }
  .skills_wrapper {
    width: 100%;
    height: auto;
    margin: 12% auto;
  }
  ul {
    display: block;
    width: 95%;
    padding: 0;
    list-style-position: inside;
    margin-left: 3%;
  }
  li {
    font-size: 0.88rem;
    margin-right: 0.5%;
    padding: 0;
  }
  .lists_wrapper {
    width: 100%;
  }
  .python {
    height: 40%;
    width: 17%;
    position: relative;
    top: 10px;
    right: 2px;
  }
  .html_img {
    height: 25%;
    width: 9%;
    position: relative;
    bottom: 1px;
    left: 6px;
  }
  .css {
    height: 20%;
    width: 15%;
    position: relative;
    bottom: 2px;
    left: 5px;
  }
  .sql {
    height: 30%;
    width: 10%;
    position: relative;
    top: 2px;
    left: 4px;
  }
  .js {
    width: 10%;
    height: 30%;
    position: relative;
    top: 4px;
  }
  .skills_img_wrapper {
    width: 95%;
  }
  .about_text {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  .main_connect {
    display: none;
  }
  .header_connect {
    display: flex;
    position: absolute;
    top: 87%;
    height: 4%;
    padding: 0.5%;
  }
  .skills_list {
    font-size: 0.8rem;
  }
  .title_text {
    font-size: 0.9rem;
  }
  .active_style {
    color: rgb(0, 128, 255);
  }
  .cv {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1rem;
    font-weight: bold;
    background: blue;
    padding: 0.5%;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .mobile_pic {
    display: flex;
  }
  .main_pic {
    display: none;
  }
  .img_wrapper {
    display: none;
  }
  .hello_text {
    display: none;
    margin: 0 auto;
  }
  .icons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    font-size: 0.5rem;
    position: absolute;
    top: 80%;
    left: 0.5%;
    color: rgb(101, 101, 101);
    font-weight: bold;
    margin: 0 auto;
  }
  .profile_pic {
    height: 50vh;
    width: 100%;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 0px #222);
  }
  .img_wrapper img {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .projects_card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 3px 3px 0px grey;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .home_img {
    width: 80vw;
    height: 50vh;
    filter: drop-shadow(5px 5px 5px 5px #222);
  }

  .home_wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% auto;
  }

  .intro {
    width: 80%;
    margin-top: 5%;
  }
  .mobile_main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .home_wrapper {
    display: none;
  }

  .header_pic {
    width: 100%;
    height: 100%;
  }
  .contact_wrapper {
    width: 100%;
    margin: 12% 0;
  }
  .contact_card {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
  .contact_type {
    height: 100%;
    width: 90%;
    margin: 1% auto;
    justify-content: space-evenly;
  }
  .contact_me {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .header_wrapper {
    height: 45%;
    width: 100%;
    margin: -12% auto;
  }
  .hello {
    font-size: 1.8rem;
    width: 60%;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 4%;
    top: 50%;
    z-index: 1;
  }
  .main_icons_wrapper {
    /* display: none; */
    margin-left: 200px;
  }
  .projects_container {
    width: 100%;
    margin: 12% 0;
  }
  .projects_card {
    width: 100vw;
  }
  .sort_viz {
    width: 100%;
  }

  .component {
    width: 100%;
  }
  .mobile {
    display: flex;
  }
  .hello {
    display: none;
  }
  .hello_text {
    display: none;
  }
  .mob_container {
    width: 100%;
    height: 100%;
    background-image: url("./images/darkbrick.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_card {
    background: white;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .contact_title {
    font-size: 1.2rem;
    color: darkgray;
  }
  .directions {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .icon {
    font-size: 1rem;
  }
  .mobile_profile {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
  }
  .links_container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cv {
    position: absolute;
    top: 6%;
    right: 5%;
    font-size: 1rem;
    font-weight: bold;
    background: blue;
    padding: 0.5%;
    color: white;
  }
  .mobile_type {
    margin: 0;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .mobile_link {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .resume {
    display: flex;
    flex-direction: column;
    background: blue;
    padding: 1.2%;
    position: absolute;
    top: 4%;
    right: 6%;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    width: "40%";
  }
  .mobile_icon {
    color: rgb(0, 170, 255);
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  .mobile_text {
    color: rgb(0, 170, 255);
    margin: 0 auto;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .resume_main {
    display: none;
  }
  .new_mobile_icon {
    font-size: 1.5rem;
  }
  .img_animation {
    height: 100%;
    width: 100%;
  }
  .skills_wrapper {
    width: 100%;
    height: auto;
    margin: 12% auto;
  }
  ul {
    display: block;
    width: 95%;
    padding: 0;
    list-style-position: inside;
    margin-left: 3%;
  }
  li {
    font-size: 0.88rem;
    margin-right: 0.5%;
    padding: 0;
  }
  .lists_wrapper {
    width: 100%;
  }
  .python {
    height: 40%;
    width: 25%;
    position: relative;
    top: 10px;
    right: 2px;
  }
  .html_img {
    height: 25%;
    width: 13%;
    position: relative;
    bottom: 1px;
    left: 6px;
  }
  .css {
    height: 20%;
    width: 21%;
    position: relative;
    bottom: 2px;
    left: 5px;
  }
  .sql {
    height: 30%;
    width: 14%;
    position: relative;
    top: 2px;
    left: 4px;
  }
  .js {
    width: 15%;
    height: 30%;
    position: relative;
    top: 4px;
  }
  .skills_img_wrapper {
    width: 95%;
  }
  .about_text {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  .main_connect {
    display: none;
  }
  .header_connect {
    display: none;
  }
  .skills_list {
    font-size: 0.8rem;
  }
  .title_text {
    font-size: 0.9rem;
  }
  .active_style {
    color: rgb(0, 128, 255);
  }
  .resume_main {
    position: absolute;
    top: 23%;
    right: 2%;
    font-size: 1rem;
    font-weight: bold;
    background: blue;
    padding: 1%;
    color: white;
  }
}
